{{#partial "contenidoPaso" }}
    <div>
        Ingrese el material <input name='material'/>
    </div>
    <input name='paso' value='material' type='hidden'>
{{/partial}}

{{> wizardPrenda/WizardPrendas.hbs}}