{{#partial "contenidoPaso" }}
    <div>
        Ingrese el color primario <input name='colorPrimario'/>
    </div>
    <input name='paso' value='colorPrimario' type='hidden'>
{{/partial}}

{{> wizardPrenda/WizardPrendas.hbs}}