{{#partial "contenidoPaso" }}
    <div>
        <p>Bienvenido a la ventana de creacion de prendas</p>
    </div>
    <div>
        Ingrese el tipo de prenda <input name='tipo'/>
    </div>
    <input name='paso' value='tipo' type='hidden'>
{{/partial}}

{{> WizardPrendas.hbs}}