{{#partial "contenidoPaso" }}
    <div>
        Ingrese el color secundario <input name='colorSecundario' type="color"/>
    </div>
    <input name='paso' value='colorSecundario' type='hidden'>
{{/partial}}

{{> wizardPrenda/WizardPrendas.hbs}}