<b>{{ resultado }}</b>
<form name="listadoGuardarropas" method="get">
    <h2>Sus guardarropas</h2>
    <ul>
        1<li><p>{{guardarropa1}}</p></li>
        2<li><p>{{guardarropa2}}</p></li>
    </ul>
</form>
