<b>{{ resultado }}</b>
<form name="listadoGuardarropas" method="get">
    <ul>
        {{#each guardarropas}}
            <li>{{@index}}. Guardarropa de id: {{id}}</li>
        {{/each}}
    </ul>
</form>
