<b>{{ resultado }}</b>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">
<form name="listadoGuardarropas" method="get">
    <div class="bs-docs-section">
         <div class="col-md-4">

            <div class="bs-component">
                <div class="jumbotron">
                <h2>Sus guardarropas</h2>
                    <hr class="my-4">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="list-group">
                            {{#each guardarropas}}
                                <a href="#" class="list-group-item list-group-item-action active">
                                    Soy el guardarropa n° {{@index}} con id: {{id}}
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
