<h1>Sus prendas</h1>
<b>{{ resultado }}</b>
<form name="listadoPrendas" method="get">
    <ul>
        {{#each prendas}}
            <li>{{@index}}. <{{prendas}}</li>
        {{/each}}
    </ul>
</form>