<form method="get" action="{{ruta}}/guardarropas" >
    <button type='submit'>Mis guardarropas</button>
</form>

<form method="get" action="{{ruta}}/eventos" >
    <button type='submit'>Mis eventos</button>
</form>
