<b>ID:</b>{{ id }} <br>
<ul>
{{#each prendas }}
  <li>{{ this }}</li>
{{/each }}
</ul>

<form method="POST">
  <input type="submit" value="Rechazar" name="rechazo"> <input type="submit" value="Aceptar" name="acepto">
</form>